body{
    font-family: "Roboto", sans-serif;
    color: #434455;

}
:root { --add-color:#4d5ae5}
:root {--main-color:#2e2f42}

.logo{
    font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--add-color);
}
.studio-span{color: var(--main-color);}
.list{list-style: none}
.link{ text-decoration: none}
.header {}

.header-nav {}

.header-list-nav {}

.hov:hover :focus{color:#404bbf}



.links-nav {
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
     letter-spacing: 0.02em;
 color: #2E2F42;}

.adress {}

.list-adress {}

.adress-item {font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;}