body{
    font-family: "Roboto", sans-serif;
    color: #434455;

}
:root { --add-color:#4d5ae5}
:root {--main-color:#2e2f42}
:root{--link-color:#434455}
:root{--background-color:#2e2f42}


.logo{
    font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--add-color);
}
.studio-span{color: var(--main-color);}
.list{list-style: none}
.link{ text-decoration: none}
.header {}

.header-nav {}

.header-list-nav {}

.hov:hover :focus{color:#404bbf}



.links-nav {
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
     letter-spacing: 0.02em;
 color: #2E2F42;}
 .links-nav:hover{color:#404bbf}

.adress {font-style: normal}
.adress-list{

}
.list-adress {}

.adress-item {font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;}
         .adress-link:hover :focus{color: #404bbf}
     .adress-link{color: var(--link-color);}

     /* SECTION ONE */
         .solutions {color: var(--background-color);}
    
         .solutions-title {font-weight: 700;
            font-size: 56px;
            line-height: 1.07;text-align: center;
            letter-spacing: 0.02em;color: #FFFFFF;}
    
         .solutions-btn {font-weight: 500;
            font-size: 16px;
            line-height: 1.5; display: flex;
            align-items: center;
            letter-spacing: 0.04em;
             color: #FFFFFF;}