:root {
  --add-color: #4d5ae5;
  --main-color: #2e2f42;
  --link-color: #434455;
  --hover-color: #404bbf;
  --cloud-color:  #F4F4FD;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--link-color);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--add-color);
}
/*  */

.header {
}

.header-nav {
}

.header-list-item {
}
.header-list-nav {
  /* display: flex;
  margin-left: 76px;
  gap: 40px; */
}
.adress {
  color: var(--link-color);
}
/*  */
.studio-span {
  color: var(--main-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.hov:hover :focus {
  color: #404bbf;
}

.links-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.links-nav:hover {
  color: #404bbf;
}
.links-nav:focus {
  color: #404bbf;
}

.adress {
  font-style: normal;
}
.adress-list {
}
.list-adress {
}

.adress-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: ;
}

.adress-link:hover {
  color: #404bbf;
}
.adress-link:focus {
  color: #404bbf;
}

.adress-link {
  color: var(--link-color);
}

/* SECTION ONE */
.solutions {
  background-color: var(--main-color);
}

.solutions-title {
  font-weight: 700;
  height: 120px;
  width: 496px;
  margin: 0 auto;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  background-color: var(--main-color);
}

.solutions-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  background: var(--add-color);
  color: #ffffff;
}
.solutions-btn:hover,
.solutions-btn:focus {
  background-color: var(--hover-color);
}

/* SECTION TWO */

.advantages-main-title {
}

.hidden {
}

.advantages-list {
}

.list {
}

.advantages-list-item {
}

.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.advantages-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--link-color);
}

/* SECTION THREE */
.tasks-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color);
}
.tasks {
}

.tasks-list {
}

.tasks-list-item {
}

.tasks-img {
}

/*  SECTION FOUR*/
.team {
}

.team-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color);
  background-color: var(--cloud-color);
}

.team-list {
}

.team-list-item {
}

.team-img {
}

.team-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--link-color);
}
/* FOOTER */
.footer {
  background-color: var(--main-color);
}

.fotter-link {
}

.fotter-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.sspan {
  color: #f4f4fd;
}

/* portfolio */
/* SECTION */
.list {
  list-style: none;
}

.btn {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  background: var(--add-color);
  color: #ffffff;
}
.btn:hover,
.btn:focus {
  background-color: var(--hover-color);
  color: #fff;

/* section img */
.images {
}

.images-list {
}

.images-img {
}

.images-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.images-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--link-color);
}
.link {
  text-decoration: none;
}
